@(runForm: Form[Run])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
	<script type="text/javascript">
	function checkForm(){
		if ( document.newRun.version_platform_id.value == ""){
			alert("Please select a platform!");
			return false;
		}
		else if ( document.newRun.format_id.value == ""){
			alert("Please select a file format");
			return false;
		}
		else{
			document.newRun.submit();
		}
	}
	
	</script>
	
	
    <h1>Add a new Run</h1>
    
    <form name=newRun action="@routes.AddToDB.saveRun()" method="POST" >    
        <fieldset>
        
            <div class="clearfix ">
				<label for="name">Run Name</label>
					<div class="input">
						<input id="name" type="text" value="" name="name" required pattern="(\w|\s|\.|-)+">
						<span class="help-inline">Required, only word characters</span>
					</div>
				</div>
			<div class="clearfix ">
				<label for="path">Path to Issues folder</label>
				<div class="input">
					
				<input type="text" id="path" name="path" value="" required @*pattern="..(S|s)nowtest.(R|r)egression.(java|native).*(I|i)ssues.*"*@>

					<span class="help-inline">Required. ex: "\\snowtest\Regression\java\13.5-Build2.1-AFP\Issues.13.5-Build2-AFP" <br /> Must begin with \\snowtest\Regression\(java or native)\....\Issues*"</span> 
				</div>
			</div>

			@select(
                runForm("version.platform.id"), 
                options(Platform.options()), 
                '_label -> "Platform", '_default -> "-- Choose a Platform --",
                '_showConstraints -> true
            )
			
			<div class="clearfix ">
				<label for="version_name">Version</label>
				<div class="input">
					
				<input type="text" id="version_name" name="version.name" value="" required pattern="(\w|\s|\.|-)+">

					<span class="help-inline">Required, only word characters</span> 
				</div>
			</div>
			
			@select(
                runForm("format.id"), 
                options(FileFormat.options()), 
                '_label -> "Format", '_default -> "-- Choose a Format --",
                '_showConstraints -> false
            )
			
			
			@**********************************@
			<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")"> 
			<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
			<script type="text/javascript" src='@routes.Assets.at("js/bootstrap-datepicker.js")' charset="utf-8"></script>
			
			<script type="text/javascript">
			$(function(){
				$('#dp1').datepicker({
					format: 'yyyy-mm-dd'
				});
			});
			</script>
			
			<div class="clearfix ">
				<label for="date_name">Date</label>
				<div class="datepicker input">
					<input type="date" class="datepicker" id="dp1" data-date-format="yyyy-mm-dd" name="date.name" value="" required pattern="\d{4}-\d{2}-\d{2}" >
				</div>
			</div>
			
			<div class="clearfix ">
				<label for="svn_num">SVN</label>
				<div class="input">
				<input type="text" id="svn_num" name="svn.num" value="" pattern="\d*">
					<span class="help-inline">Not Required (Numbers only)</span> 
				</div>
			</div>
			
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this run" class="btn primary" onclick="return checkForm()"> or 
            <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
        
    </form>
    
}