@link(f1:String, f2:String, p1:String, p2:String ) = @{
    
    
    
    // Generate the link
    routes.Application.dataList(f1, f2, p1, p2)
    
}


@homeMain{
<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js">
      </script>
      <script type="text/javascript" src="@routes.Assets.at("js/jquery.chained.min.js")" charset="utf-8"></script>
      <script>
        /* if (jQuery().chained) {  
              alert('jQuery is loaded!');  
         }
          else{   
             alert('jQuery is not loaded!');  
         }
        */
      </script>
   </head>
   <center>
   <body>
      <select id="platform" name="#platform">
           <option value="Please select Platform">Please select Platform</option>
			@for(plat <- Platform.getList) {
           <option value=@plat.getPlatformName class = @plat.getPlatformName> @plat.getPlatformName</option>
           }
      </select>
      <select id="format" name="#format">
           <option value="Please select Format">Please select Format</option>
           @for(form <- FileFormat.getList) {
           <option value=@form.getFileFormatName  class =@form.getFileFormatName>@form.getFileFormatName</option>
           }
      </select>
      <select id="run" name="#run">
             
           @for(run <- Run.getList) {
           <option value=@run.getRunID   class = @run.getPlatformFormat>@run.getRunName</option>
           }
           <option value="">All Runs</option> 
           
      </select>
      <input type = "button" value= "Search" class="btn primary" 
      	onclick = "NavigateToSite('platform','format','version.platform.name', 'format.name','run')"/>
       
      <p>
      
      OR
      </p>
       
       <select id="platform2" name="#platform2">
           <option value="Please select Platform">Please select Platform</option>
			@for(plat <- Platform.getList) {
           <option value=@plat.getPlatformName class = @plat.getPlatformName> @plat.getPlatformName</option>
           }
      </select>
      <select id="version2" name="#version2">
           <option value="">Please select Version</option>
           @for(vers <- Version.getList) {
           <option value=@vers.getVersionName  class = @vers.getThePlatform.getPlatformName>@vers.getVersionName</option>
           }
      </select>
      <select id="run2" name="#run2">
           
           @for(run <- Run.getList) {
           <option value=@run.getRunID   class = @run.version.getVersionName>@run.getRunName</option>
           }
           <option value="">All Runs</option> 
      </select>
      <input type = "button" value= "Search" class="btn primary"
       onclick = "NavigateToSite('platform2','version2','version.platform.name', 'version.name','run2')"/>
      
     <p>
     OR
      </p>  
  
  	<select id="date" name="#date">
           <option value="Choose from Dates">Choose from dates</option>
           @for(da <- models.Date.getList) {
           <option value=@da.getDateName  class = @da.getDateName>@da.getDateName</option>
           }
      </select>
      <select id="run3" name="#run3">
           
           @for(run <- Run.getList) {
           <option value=@run.getRunID  class = @run.getDateName>@run.getRunName</option>
           }
           <option value="">All Runs</option> 
      </select>
      <input type = "button" value= "Search" class="btn primary" 
      onclick = "NavigateToSite('','','','','run3')"/>
 <p>
      </p>
      

<script>
/**
 * Redirects to proper run data
 *  p1: param one (format.name, etc)
 *  p2: param two
 *	list1: The first list you're pulling a value from
 *	list2: The second list you're pulling a value from
 */
function NavigateToSite(list1,list2,p1,p2,id) {
	
	var value = document.getElementById(id).value;
	if (value == ""){
		var f1 = document.getElementById(list1).value
		var f2 = document.getElementById(list2).value
		window.location = "dataList" + "/" + 
		f1+ "/" + f2 + "/" +
		p1 + "/" + p2;
	}
	else {
		
		window.location = "runData/" + value;
		
	}
	
	
	
}
</script>
  
 
      

      <script language="JavaScript" type="text/javascript">
      $("#run").chained("#platform, #format"); 
      $("#version2").chained("#platform2");
      $("#run2").chained("#version2"); 
      $("#run3").chained("#date"); 
      
      $('form').submit(function(){
    	    if($('#platform').val() == "" || $('#format').val() == ""){
    	        return false;
    	    }
    	    });
      
      
      </script>

  </body>
 

 
  
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Google Visualization API Sample</title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    function decode(encodedString) {
    	var tmpElement = document.createElement('span');
    	tmpElement.innerHTML = encodedString;
    	return tmpElement.innerHTML;
    	}
    /**
    Converts data into suitable 
    **/
    function chart(){
    	 var table="@{controllers.Application.createData()}";
    	 var tableFormatted=decode(table);
    	 var obj = eval("(" + tableFormatted + ")");
    	 return obj;
    }
    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Java Bugs');
      data.addColumn('string', 'title1');
      data.addColumn('string', 'text1');
      data.addColumn('number', 'Native Bugs');
      data.addColumn('string', 'title2');
      data.addColumn('string', 'text2');
      
     data.addRows(chart());
    
      var annotatedtimeline = new google.visualization.AnnotatedTimeLine(
          document.getElementById('visualization'));
      annotatedtimeline.draw(data, {'displayAnnotations': false});
    }
    
    google.setOnLoadCallback(drawVisualization);
  </script>
</head>
<body style="font-family: Arial;border: 0 none;">
<div id="visualization" style="width: 800px; height: 400px;"></div>
</body>
</center>
}