@(runForm: Form[Run])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@homeSkeleton {
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src='@routes.Assets.at("js/bootstrap-datepicker.js")' charset="utf-8"></script>
 	
 
	<!-- bootbox code -->
	<script src="@routes.Assets.at("js/bootbox.min.js")"></script>
	<script type="text/javascript">
	function checkForm(){
		if (document.newRun.version_name.value == ""){
			alert("Please select a Version");
			return false;
		}
		else if ( document.newRun.format_id.value == ""){
			alert("Please select a File Format");
		return false;
		}
		else{
			return verifySubmit();
		}
	}
	function getSelectedValue(elementId){
		return document.getElementById(elementId).options[document.getElementById(elementId).selectedIndex].text;
	}
	function getPlatform(path){
		pathArray=path.split("\\");
		var platformIndex=4; //this is in which spot the platform comes up in file name \\1\2\3...
		if(path.toLowerCase().contains("\\d\\")){
			indexOfPlatform = 5;
		}
		return pathArray[platformIndex];
	}
	function verifySubmit(){
		//Get all current values at this time
		var runName=document.newRun.name.value;
		var runPath=document.newRun.path.value;
		var platform=getPlatform(runPath);
		var version=getSelectedValue("version_name");
		var format=getSelectedValue("format_id");
		var date=document.newRun.dp1.value;
		var svn=document.newRun.svn_num.value;
		
		var message="Are you sure you would like to submit this run?";
		//Prompt for confirmation
			var x=confirm("Run Name = "+runName+"\n"+
				"Run Path = "+runPath+"\n"+
				"Platform = "+platform+"\n"+
				"Version = "+version+"\n"+
				"Format = "+format+"\n"+
				"Date = "+date+"\n"+
				"SVN = "+svn+"\n"+
				message);
			if (x==true){	
				document.newRun.submit();
			}
			else{
				return false;
			}
		return true;
	}

	function addVersion(){
		var versionName = prompt("What is the new version?(Platorm [java or native] will be added automatically");
	
		var x=document.getElementById("version_name");
		var option=document.createElement("option");
		option.text=versionName;
		try{// for IE earlier than version 8
			x.add(option,x.options[null]);
		}
		catch (e){
			x.add(option,null);
		}
		x.selectedIndex=x.length-1; //select new version
		return false;
		
	}
	function autoFill(){
		var runPath=document.newRun.path.value;
		if(runPath==""){
			return false;
		}
		var info=runPath.split("\\");//split into array with \ as delimiter
		var runName=info[info.length-2];
		var format=runName.substring(runName.lastIndexOf("-")+1);
		if(format.contains(".")){//If has ".Nightly" or something of the sort
			format=format.substring(0,format.lastIndexOf("."));
		}
		var version=runName.substring(0,runName.lastIndexOf("-"));
		
		//Set run name
		document.newRun.name.value=runName;
		
		//Set version
		var x=document.getElementById("version_name");
		for (var i = 0; i < x.options.length; i++) {
			//alert("Testing if "+version+" = "+x.options[i].text+"\n"+(x.options[i].text == version));
			if (x.options[i].text == version) {
				x.selectedIndex = i;
				break;
			}
		}
		if(x.selectedIndex==0){//Version not found, create new one
			var option=document.createElement("option");
			option.text=version;
			try{// for IE earlier than version 8
				x.add(option,x.options[null]);
			}
			catch (e){
				x.add(option,null);
			}
			x.selectedIndex=x.length-1; //select new version
		}
		//alert(x.selectedIndex);
		
		//Set format
		var x=document.getElementById("format_id");
		for (var i = 0; i < x.options.length; i++) {
			//alert("Testing if "+format+" = "+x.options[i].text+"\n"+(x.options[i].text == format));
			if (x.options[i].text == format) {
				x.selectedIndex = i;
				break;
			}
		}
		
		return false;
	}
	$(function(){//for picking a date
		$('#dp1').datepicker({
			format: 'yyyy-mm-dd'
		});
	});
	</script>
	
	
    <h1>Import an existing regression run</h1>
    
    <form name=newRun action="@routes.AddToDB.saveRun()" method="POST" >    
        <fieldset>
		
        	<div class="clearfix ">
				<label for="path">Path to Issues folder</label>
				<div class="input">
					<input type="text" class="largerBox" id="path" name="path" onchange="return autoFill()" value="" required pattern="..(S|s)nowtest.*(R|r)egression.(java|native).*(I|i)ssues.*">
					<span class="help-inline">Required. ex: "\\snowtest\Regression\java\13.5-Build2.1-AFP\Issues.13.5-Build2-AFP" <br />
					Must begin with \\snowtest(\D)?\Regression\(java or native)\....\Issues*"</span> 
				</div>
			</div>
			
            <div class="clearfix">
				<label for="name">Run Name</label>
				<div class="input">
					<input id="name" type="text" value="" name="name" required pattern="(\w|\s|\.|-)+">
					<span class="help-inline">Required, only word characters</span>
				</div>
			</div>
			
			<div class="clearfix ">
				<label for="version_name">Version</label>
				<div class="input">
				<select id="version_name" name="version.name" >
					<option class="blank" value="">-- Choose a Version --</option>
					@for((key, value) <- Version.options()){
						<option value="@value">@value</option>
					}
				</select>
				<button class="btn" onclick="return addVersion()">Add new version...</button>
				<span class="help-inline">Required</span>
				</div>
			</div>
			
			<div class="clearfix ">
				<label for="format_id">Format</label>
				<div class="input">
				<select id="format_id" name="format.id" >
					<option class="blank" value="">-- Choose a Format --</option>
					@for((key, value) <- FileFormat.options()){
						<option value="@key">@value</option>
					}
				</select>
					<span class="help-inline">Required</span> 
				</div>
			</div>
			
			<div class="clearfix ">
				<label for="date_name">Date</label>
				<div class="datepicker input">
					<input type="date" class="datepicker" id="dp1" data-date-format="yyyy-mm-dd" name="date.name" value="" required pattern="\d{4}-\d{2}-\d{2}" >
				</div>
			</div>
			
			<div class="clearfix ">
				<label for="svn_num">SVN</label>
				<div class="input">
				<input type="text" id="svn_num" name="svn.num" value="" pattern="\d*">
					<span class="help-inline">Not Required (Numbers only)</span> 
				</div>
			</div>
			
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this run" class="btn primary" onclick="return checkForm()"> or 
            <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
        
    </form>
    
}