@(text: List[String], runID: Long = 0)

@****************************
* Generate Log From sting *
****************************@
@log(logInfo:String) = @{
    
def replace = logInfo.replaceAll(_, _)

var logInfoFixed=replace("INFO:","<br/><font color=\"green\">INFO:</font>") replace("ERROR:","<br/><font color=\"red\">ERROR:</font>")

    //Output
    logInfoFixed
    
}
@**************************************
* Prompt user to fill out page info   *
***************************************@
@promptBug(bug: Bug, index: Int) = @{
	var id : String = "addBugNum_" + index
	var funcName = "setBugNum" + index
    var jscript : String = """<script>
	function """ + funcName + """(){
		$('#""" + id + """').submit(function (){
			var formdata = $(this).serialize();
			$.ajax({
				type: "POST",
				url: jsRoutes.controllers.Application.addBugNum().url,
				data: formdata,
				success: function(data){
					alert('Submitted');
				}
			});
			return false;
		});
	}
	</script>"""
	
	var form : String = """<form id='""" + id + """' name='""" + id + """' method="POST">
		<fieldset>
			<div class="clearfix ">
				<label for="bugNum">Bug Number for difference: <b>""" + bug.difference.name + """</b></label>
				<div class="input">
					<input type="text" id="number" name="number" value="" required pattern="\d*">
					<span class="help-inline">Required (Numbers only)</span>
				</div>
				<input type="hidden" id="id" name="id" value='""" + bug.id + """'>
			</div>
		</fieldset>
		
		<div class="actions">
			<input type="submit" value="Save this Bug Number" class="btn primary" onclick="return """ + funcName + """()"> 
		</div>
	 
	 </form>
	 <p style="display: none;" id="notification">Data submitted!</p>
	 </br>"""
    
	Html(jscript+" \n "+form)
}
@main {
	@if(runID!=0){
		<H2><a href='@routes.Application.listPageByRun( 0,"name","asc", Run.getRunByID(runID).id,"")'>View Run</a><br/></H2>
	}
	@for((bug,index) <- Bug.getMissingBugNum(runID).zipWithIndex){
		@(promptBug(bug,index))
	}
	@for(line <- text){
		<br/> @Html(log(line))
	}
}
